Docs/

#------------------------------- task-management-app------------------------------------
task-management-app/.vscode/
task-management-app/node_modules/
task-management-app/public/favicon.ico
task-management-app/.editorconfig
task-management-app/.prettierrc
task-management-app/package-lock.json
task-management-app/package.json
task-management-app/README.md
task-management-app/tsconfig.json
task-management-app/tsconfig.spec.json
task-management-app/.angular/

#----------------------------------- investment-calculator------------------------------------
investment-calculator/.vscode/
investment-calculator/node_modules/
investment-calculator/public/favicon.ico
investment-calculator/.editorconfig
investment-calculator/.prettierrc
investment-calculator/package-lock.json
investment-calculator/package.json
investment-calculator/README.md
investment-calculator/tsconfig.json
investment-calculator/tsconfig.spec.json
investment-calculator/.angular/

#----------------------------------- server-design-project------------------------------------
server-design-project/.vscode/
server-design-project/node_modules/
server-design-project/public/favicon.ico
server-design-project/.editorconfig
server-design-project/.prettierrc
server-design-project/package-lock.json
server-design-project/package.json
server-design-project/README.md
server-design-project/tsconfig.json
server-design-project/tsconfig.spec.json
server-design-project/.angular/

#----------------------------------- lifecycle-deep-dive-start------------------------------------
lifecycle-deep-dive-start/node_modules/
lifecycle-deep-dive-start/public/favicon.ico
lifecycle-deep-dive-start/.editorconfig
lifecycle-deep-dive-start/.prettierrc
lifecycle-deep-dive-start/package-lock.json
lifecycle-deep-dive-start/package.json
lifecycle-deep-dive-start/README.md
lifecycle-deep-dive-start/tsconfig.json
lifecycle-deep-dive-start/tsconfig.spec.json
lifecycle-deep-dive-start/.angular/

#----------------------------------- custom-2w-binding-project------------------------------------

custom-2w-binding-project/node_modules/
custom-2w-binding-project/public/favicon.ico
custom-2w-binding-project/.editorconfig
custom-2w-binding-project/.prettierrc
custom-2w-binding-project/package-lock.json
custom-2w-binding-project/package.json
custom-2w-binding-project/README.md
custom-2w-binding-project/tsconfig.json
custom-2w-binding-project/tsconfig.spec.json
custom-2w-binding-project/angular.json
custom-2w-binding-project/tsconfig.app.json
custom-2w-binding-project/.angular/

#----------------------------------- custom-directives------------------------------------
custom-directives/node_modules/
custom-directives/public/favicon.ico
custom-directives/.editorconfig
custom-directives/.prettierrc
custom-directives/package-lock.json
custom-directives/package.json
custom-directives/README.md
custom-directives/tsconfig.json
custom-directives/tsconfig.spec.json
custom-directives/.vscode/
custom-directives/tsconfig.app.json
custom-directives/.angular/
custom-directives/angular.json

#----------------------------------- temperatures-project------------------------------------

temperatures-project/node_modules/
temperatures-project/public/favicon.ico
temperatures-project/.editorconfig  
temperatures-project/.prettierrc
temperatures-project/package-lock.json
temperatures-project/package.json
temperatures-project/README.md
temperatures-project/tsconfig.json
temperatures-project/tsconfig.spec.json
temperatures-project/.vscode/
temperatures-project/tsconfig.app.json
temperatures-project/.angular/
temperatures-project/angular.json

#----------------------------------- task-services-project------------------------------------
task-services-project/node_modules/
task-services-project/public/favicon.ico
task-services-project/.editorconfig
task-services-project/.prettierrc
task-services-project/package-lock.json
task-services-project/package.json
task-services-project/README.md
task-services-project/tsconfig.json
task-services-project/tsconfig.spec.json
task-services-project/.vscode/
task-services-project/tsconfig.app.json
task-services-project/.angular/
task-services-project/angular.json

#----------------------------------- change-detection-project------------------------------------
change-detection-project/node_modules/
change-detection-project/public/favicon.ico
change-detection-project/.editorconfig
change-detection-project/.prettierrc
change-detection-project/package-lock.json
change-detection-project/package.json
change-detection-project/README.md
change-detection-project/tsconfig.json
change-detection-project/tsconfig.spec.json
change-detection-project/.vscode/
change-detection-project/tsconfig.app.json
change-detection-project/.angular/
change-detection-project/angular.json

#----------------------------------- rxjs-observables-project------------------------------------
rxjs-observables-project/node_modules/
rxjs-observables-project/public/favicon.ico
rxjs-observables-project/.editorconfig
rxjs-observables-project/.prettierrc
rxjs-observables-project/package-lock.json  
rxjs-observables-project/package.json
rxjs-observables-project/README.md
rxjs-observables-project/tsconfig.json  
rxjs-observables-project/tsconfig.spec.json
rxjs-observables-project/.vscode/
rxjs-observables-project/tsconfig.app.json
rxjs-observables-project/.angular/
rxjs-observables-project/angular.json   

#----------------------------------- tourist-places-project------------------------------------
tourist-places-project/node_modules/
tourist-places-project/public/favicon.ico
tourist-places-project/.editorconfig
tourist-places-project/.prettierrc
tourist-places-project/package-lock.json
tourist-places-project/package.json
tourist-places-project/README.md
tourist-places-project/tsconfig.json
tourist-places-project/tsconfig.spec.json
tourist-places-project/.vscode/
tourist-places-project/tsconfig.app.json
tourist-places-project/.angular/
tourist-places-project/angular.json
tourist-places-project/backend

#----------------------------------- managing-forms-project------------------------------------
managing-forms-project/node_modules/
managing-forms-project/public/favicon.ico
managing-forms-project/.editorconfig
managing-forms-project/.prettierrc
managing-forms-project/package-lock.json
managing-forms-project/package.json
managing-forms-project/README.md
managing-forms-project/tsconfig.json
managing-forms-project/tsconfig.spec.json
managing-forms-project/.vscode/
managing-forms-project/tsconfig.app.json
managing-forms-project/.angular/
managing-forms-project/angular.json

#----------------------------------- routing-project------------------------------------
routing-project/node_modules
routing-project/public/favicon.ico
routing-project/.editorconfig
routing-project/.prettierrc
routing-project/package-lock.json
routing-project/package.json
routing-project/README.md
routing-project/tsconfig.json
routing-project/tsconfig.spec.json
routing-project/.vscode
routing-project/tsconfig.app.json
routing-project/.angular
routing-project/angular.json

#----------------------------------- deferrable-views-project------------------------------------
deferrable-views-project/node_modules
deferrable-views-project/public/favicon.ico
deferrable-views-project/.editorconfig
deferrable-views-project/.prettierrc
deferrable-views-project/package-lock.json
deferrable-views-project/package.json
deferrable-views-project/README.md
deferrable-views-project/tsconfig.json
deferrable-views-project/tsconfig.spec.json
deferrable-views-project/.vscode
deferrable-views-project/tsconfig.app.json
deferrable-views-project/.angular
deferrable-views-project/angular.json
