Docs/

task-management-app/.vscode/
task-management-app/node_modules/
task-management-app/public/favicon.ico
task-management-app/.editorconfig
task-management-app/.prettierrc
task-management-app/package-lock.json
task-management-app/package.json
task-management-app/README.md
task-management-app/tsconfig.json
task-management-app/tsconfig.spec.json
task-management-app/.angular/

investment-calculator/.vscode/
investment-calculator/node_modules/
investment-calculator/public/favicon.ico
investment-calculator/.editorconfig
investment-calculator/.prettierrc
investment-calculator/package-lock.json
investment-calculator/package.json
investment-calculator/README.md
investment-calculator/tsconfig.json
investment-calculator/tsconfig.spec.json
investment-calculator/.angular/

server-design-project/.vscode/
server-design-project/node_modules/
server-design-project/public/favicon.ico
server-design-project/.editorconfig
server-design-project/.prettierrc
server-design-project/package-lock.json
server-design-project/package.json
server-design-project/README.md
server-design-project/tsconfig.json
server-design-project/tsconfig.spec.json
server-design-project/.angular/

lifecycle-deep-dive-start/node_modules/
lifecycle-deep-dive-start/public/favicon.ico
lifecycle-deep-dive-start/.editorconfig
lifecycle-deep-dive-start/.prettierrc
lifecycle-deep-dive-start/package-lock.json
lifecycle-deep-dive-start/package.json
lifecycle-deep-dive-start/README.md
lifecycle-deep-dive-start/tsconfig.json
lifecycle-deep-dive-start/tsconfig.spec.json
lifecycle-deep-dive-start/.angular/

custom-2w-binding-project/node_modules/
custom-2w-binding-project/public/favicon.ico
custom-2w-binding-project/.editorconfig
custom-2w-binding-project/.prettierrc
custom-2w-binding-project/package-lock.json
custom-2w-binding-project/package.json
custom-2w-binding-project/README.md
custom-2w-binding-project/tsconfig.json
custom-2w-binding-project/tsconfig.spec.json
custom-2w-binding-project/angular.json
custom-2w-binding-project/tsconfig.app.json
custom-2w-binding-project/.angular/

custom-directives/node_modules/
custom-directives/public/favicon.ico
custom-directives/.editorconfig
custom-directives/.prettierrc
custom-directives/package-lock.json
custom-directives/package.json
custom-directives/README.md
custom-directives/tsconfig.json
custom-directives/tsconfig.spec.json
custom-directives/.vscode/
custom-directives/tsconfig.app.json
custom-directives/.angular/
custom-directives/angular.json


temperatures-project/node_modules/
temperatures-project/public/favicon.ico
temperatures-project/.editorconfig  
temperatures-project/.prettierrc
temperatures-project/package-lock.json
temperatures-project/package.json
temperatures-project/README.md
temperatures-project/tsconfig.json
temperatures-project/tsconfig.spec.json
temperatures-project/.vscode/
temperatures-project/tsconfig.app.json
temperatures-project/.angular/
temperatures-project/angular.json

   