Docs/

task-management-app/.vscode/
task-management-app/node_modules/
task-management-app/public/favicon.ico
task-management-app/.editorconfig
task-management-app/.prettierrc
task-management-app/package-lock.json
task-management-app/package.json
task-management-app/README.md
task-management-app/tsconfig.json
task-management-app/tsconfig.spec.json
task-management-app/.angular/

investment-calculator/.vscode/
investment-calculator/node_modules/
investment-calculator/public/favicon.ico
investment-calculator/.editorconfig
investment-calculator/.prettierrc
investment-calculator/package-lock.json
investment-calculator/package.json
investment-calculator/README.md
investment-calculator/tsconfig.json
investment-calculator/tsconfig.spec.json
investment-calculator/.angular/

server-design-project/.vscode/
server-design-project/node_modules/
server-design-project/public/favicon.ico
server-design-project/.editorconfig
server-design-project/.prettierrc
server-design-project/package-lock.json
server-design-project/package.json
server-design-project/README.md
server-design-project/tsconfig.json
server-design-project/tsconfig.spec.json
server-design-project/.angular/